.header.open .nav {
    display: none;
}

.nav {
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: right;

    @media screen and (max-width:840px) {
        grid-row: 1/2;
        grid-column: 1;
        justify-content: left;
    }

    @media screen and (max-width:540px) {
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        background: rgba(245, 245, 250, 0.20);
    }

    &__lang-list {
        display: flex;
        max-width: 99px;
        width: 100%;
        justify-content: space-around;
        gap: 12px;
        align-items: center;
        list-style: none;
        margin-right: 18px;

        @media screen and (max-width:540px) {
            grid-row: 1/2;
            grid-column: 1/2;
        }
    }

    &__lang-item {
        color: var(--grey-text);
        font-size: 12px;
        font-weight: 700;
    }

    &__lang-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--basic-white);

        &:hover {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.20);
            padding: 5px 7px;
        }

        &:focus {
            padding: 5px 7px;
            border-radius: 8px;
            background: var(--Accent);
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    &__contacts-item {
        list-style: none;

        @media screen and (max-width:540px) {

            &:nth-child(1),
            &:nth-child(3) {
                display: none;
            }


        }
    }

    &__contacts-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;
        color: var(--basic-white);
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            background-color: var(--grey-separator);
            border-radius: 100px;
            left: -12px;

            @media screen and (max-width:540px) {
                display: none;
            }
        }

        &:hover {
            color: var(--Accent);
        }

        &_weight {
            color: var(--grey-text, #B3B3BA);
            font-weight: 400;
        }
    }
}

.header.open .nav-service {
    display: block;
}

.nav-service {
    grid-column: 3/4;
    grid-row: 2/3;

    @media screen and (max-width:840px) {
        grid-row: 3/4;
        grid-column: 1;
        display: inline-flex;
    }

    @media screen and (max-width:540px) {
        display: none;

    }

    &__list {
        display: flex;
        gap: 15px;
        list-style: none;
        align-items: center;
        justify-content: end;

        @media screen and (max-width:540px) {
            flex-direction: column;
            font-size: 30px;
            background-image: url(../img/imgonline.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
            justify-content: start;
            position: fixed;
            padding-top: 40px;
            z-index: 20;
            top: 0;

        }
    }

    &__link {
        text-align: right;
        font-family: Montserrat;
        font-weight: 700;
        text-decoration: none;
        transition: 0.7s;
        color: var(--basic-white);

        &:hover {
            transition-property: color, border-bottom, padding-bottom;
            transition-duration: 0.5s, 0s, 0s;
            color: var(--basic-white);
            padding-bottom: 4px;
            border-bottom: 2px solid;
        }

        &:focus {
            transition-property: color, border-bottom, padding-bottom;
            transition-duration: 0.5s, 0s, 0s;
            color: var(--Accent);
            padding-bottom: 4px;
            border-bottom: 2px solid;
        }

        @media screen and (max-width:540px) {
            color: var(--active-regular);
            font-size: 24px;
            display: flex;
            padding: 7px 20px;
            align-self: stretch;
            border-radius: 12px;
            background: var(--grey-bg);
            width: 220px;
            justify-content: center;
            background: RGBA(54, 59, 122, 0.42); // Make sure this color has an opacity of less than 1
            backdrop-filter: blur(6px); // This be the blur
            transition: 0.4s;

            &:hover {
                background: RGBA(255, 255, 255, 0.23); // Make sure this color has an opacity of less than 1
                backdrop-filter: blur(6px); // This be the blur

            }
        }
    }
}