.recommended-content {
    padding-top: 30px;
    background: var(--grey-bg);
}

.recommended {
    &__head {
        margin-bottom: 29px;
    }

    &__link {
        margin-bottom: 10px;

        @media screen and (max-width:540px) {
            margin-bottom: 5px;
        }
    }

    &__title {
        @media screen and (max-width:540px) {
            font-size: 30px;
        }

    }

    &__container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

        @media screen and (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 514px 388px;
        }

        @media screen and (max-width:540px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }

    &__item {
        overflow: hidden;
        border-radius: 8px;
        background: var(--basic-white);
        transition: 0.3s;

        &:hover {
            scale: 1.02;
            translate: 0 -10px;
            box-shadow: 0px 6px 17px 7px rgba(0, 0, 0, 0.64);
            -webkit-box-shadow: 0px 6px 17px 7px rgba(0, 0, 0, 0.64);
            -moz-box-shadow: 0px 6px 17px 7px rgba(0, 0, 0, 0.64);
        }

        @media screen and (max-width:768px) {

            &_grid3 {
                grid-column: 1/3;

            }
        }

        @media screen and (max-width:540px) {
            &_grid1 {
                grid-column: 1/3;

            }

            &_grid2 {
                grid-column: 1/3;
            }

            &_grid3 {
                grid-column: 1/3;
            }

        }

    }

    &__img-block {
        height: 200px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__text-box {
        padding: 30px;
        display: grid;
        row-gap: 15px;
    }

    &__text-link {
        color: var(--active-regular);
        font-weight: 700;
        line-height: normal;

        &:hover {
            color: var(--Accent);
        }
    }

    &__date {
        color: var(--grey-text);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__line {
        background: var(--grey-separator);
        height: 4px;
        border: none;
    }

    &__desr {
        color: var(--basic-black, #000);
        font-size: 14px;
        line-height: 157.143%;
    }
}